<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd
         	http://www.springframework.org/schema/util 
         	http://www.springframework.org/schema/util/spring-util.xsd">
        
    <util:properties id="redisProps" location="classpath:redis.properties"/>

    <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" id="stringRedisSerializer"/>

    <bean class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer" id="jacksonJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="java.lang.Object"/>
    </bean>

    <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"
          id="jdkSerializationRedisSerializer"/>

	<!-- <bean class="org.codehaus.jackson.map.ObjectMapper" id="jackObjMapper"/> -->

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="#{redisProps['redis.pool.maxActive']}"/>
		<property name="maxIdle" value="#{redisProps['redis.pool.maxIdle']}"/>
		<property name="maxWaitMillis" value="#{redisProps['redis.pool.maxWait']}"/>
		<property name="testOnBorrow" value="#{redisProps['redis.pool.testOnBorrow']}"/>
    </bean>

    <bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="#{redisProps['redis.ip']}" 
          p:port="#{redisProps['redis.port']}"
          p:timeout="#{redisProps['redis.timeout']}"
          p:password="#{redisProps['redis.password']}"
          p:database="#{redisProps['redis.database']}" 
          p:poolConfig-ref="jedisPoolConfig" 
          p:usePool="true"/>


    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connectionFactory-ref="redisConnectionFactory"
          p:keySerializer-ref="stringRedisSerializer"
          p:valueSerializer-ref="jacksonJsonRedisSerializer"
          p:hashKeySerializer-ref="stringRedisSerializer"
          p:hashValueSerializer-ref="jacksonJsonRedisSerializer"
          />


	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
	   <constructor-arg ref="jedisPoolConfig"/>
	   <constructor-arg value="#{redisProps['redis.ip']}"/>
	   <constructor-arg type="int" value="#{redisProps['redis.port']}"/>
	   <constructor-arg type="int" value="#{redisProps['redis.timeout']}"/>
	   <constructor-arg type="java.lang.String" value="#{redisProps['redis.password']}"/>
	   <constructor-arg type="int" value="#{redisProps['redis.database']}"/>
	</bean>
	

</beans>